{{>layouts/header}}
<form action="/board" method="post">
    <input type="text" name="title"/>
    <input type="text" name="contents"/>
    <input type="text" name="author"/>
    <button type="submit">제출</button>
</form>
{{>layouts/footer}}